# configuracion index.php
Header set Access-Control-Allow-Origin: http://enlacee.github.io

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
#raiz
DirectoryIndex index.html index.php

#Characters default 
AddDefaultCharset UTF-8


